body {
    font-size: 1.2em;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.4;
    font-family: sans-serif;
    padding: 20px;
}
  
p {
    text-align: justify;
    margin-bottom: 0.5em;
    margin-top: 0;
}
  
.number {
    border: 2px solid;
    padding: 3px;
    font-weight: bolder;
}
.bolder {
    font-weight: bolder;
}
  
.hintButton {
    color: #0066B3;
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 2px dashed;
}